/* Global CSS variables */
:root {
  --spacing-company: 3rem;
  --font-weight: 400;
  --border-radius: 0;
  --text-bg: rgba(255, 255, 255, 0.6);
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --pico-background-color: #111;
    --text-bg: rgba(0, 0, 0, 0.6);
  }
}

/* Typography */
h2,
h3,
hgroup > :last-child {
  font-weight: 200;
}

small {
  color: var(--muted-color);
}

.container {
  padding: 4rem 2rem;
}
