pipreqs # to generate requirements.txt from a specific local modules directory
pyautogui # for GUI automation
pillow # for image processing
qrcode[pil] # for QR code generation
pytesseract # for OCR
# ultralytics # for YOLOv8 object detection
protobuf>=3.19.4,<4.0.0 # For mediapipe compatibility
mediapipe # for computer vision tasks
numpy==1.24.4 # 1.24.4 is the last version that works with TD 
# onnxruntime-gpu --extra-index-url https://aiinfra.pkgs.visualstudio.com/PublicPackages/_packaging/onnxruntime-cuda-11/pypi/simple/
# onnxruntime-gpu --extra-index-url https://aiinfra.pkgs.visualstudio.com/PublicPackages/_packaging/onnxruntime-cuda-11/pypi/simple/
onnxruntime-gpu==1.17.0
--extra-index-url https://download.pytorch.org/whl/cu118 
torch 
torchvision 
torchaudio 
timm